{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Domains list{% endblock title %}

{% block headline %}Admin > Domains list{% endblock headline %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>{% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('domain_add') }}"
                        class="btn" title="Add">
                        <i class="icon-plus-sign"></i>
                    </a>
               {% endif %}
               &nbsp;&nbsp;Action
            </th>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
{% for domain in domains %}
            <tr>
                <td width="150">
                    <a href="{{ path('domain_view', {'id': domain.id}) }}"
                       class="btn" title="View domain #{{ domain.id }}">
                        <i class="icon-eye-open"></i>
                    </a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('domain_edit', {'id': domain.id}) }}"
                       class="btn" title="Edit domain #{{ domain.id }}">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('domain_del', {'id': domain.id}) }}"
                       class="btn" title="Delete domain #{{ domain.id }}">
                        <i class="icon-trash"></i>
                    </a>
                    {% endif %}
                </td>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.details }}</td>
            </tr>
{% else %}
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <tr><td colspan="4">No domain</td></tr>
        {% else %}
            <tr><td colspan="3">No domain</td></tr>
        {% endif %}
{% endfor %}
    </tbody>
</table>
{% endblock content %}
