{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Domain view - Id : {{ domain.id }}{% endblock title %}

{% block headline %}Admin > Domain view - Id : {{ domain.id }}{% endblock headline %}

{% block content %}
<ul class="nav nav-tabs">
    <li class="active"><a href="#">Main</a></li>
    <li><a href="{{ path('dm-resource_index') }}">Resources</a></li>
</ul>
<div class="span8">
    <form class="form-horizontal well">

        {% include "MapDomainBundle:Domain:formread.html.twig" %}

    </form>
</div>
<div class="span8">
<a href="{{ path('domain_index') }}" class="btn">
<i class="icon-chevron-left"></i>
Return to list
</a>
{% if (is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DM_MANAGER')) %}
    <a href="{{ path('domain_edit', {'id': domain.id}) }}"
    class="btn">
        <i class="icon-edit"></i>
    Edit
    </a>
{% endif %}
</div>
{% endblock content %}
