<div class="control-group">
    <label class="control-label" for="inputName">Name</label>
    <div class="controls">
        <span  id="inputName" class="input-xlarge uneditable-input">{{ project.name }}</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputStartDate">Start date</label>
    <div class="controls">
        <span  id="inputStartDate" class="input-small uneditable-input">{{ project.startDate|localeDate }}</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputFinishDate">Finish date</label>
    <div class="controls">
        <span  id="inputFinishDate" class="input-small uneditable-input">{{ project.finishDate|localeDate }}</span>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="inputClosed">Closed</label>
    <div class="controls">
        <input type="checkbox" id="inputSuperAdmin" name="inputClosed" class="" value="{{ project.closed }}"
             {% if project.closed %} checked="checked" {% endif %} disabled="disabled"/>
    </div>
</div>
<div class="control-group">
    <label class="control-label" for="textDetails">Details</label>
    <div class="controls">
        <textarea id="textDetails" class="input-xxlarge uneditable-textarea" rows="4">{{ project.details }}</textarea>
    </div>
</div>
