{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Domain delete - Id : {{ domain.id }}{% endblock title %}

{% block headline %}Admin > Domain delete - Id : {{ domain.id }}{% endblock headline %}

{% block content %}
<div class="span8"> 
    <form id="formDel" class="form-horizontal well" method="post">
        {% include "MapAdminBundle:Domain:formread.html.twig" %}

        <div class="center">
           <a href="#" class="confirm"><button class="btn btn-small btn-info"><i class="icon-remove icon-white"></i>&nbsp;&nbsp;Remove&nbsp;&nbsp;</button></a>
        </div>
    </form>
</div>
<div class="span8">
<a href="{{ path('adminDomain_index') }}" class="btn">
<i class="icon-chevron-left"></i>
Return to list
</a>
</div>
{% endblock content %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    $("a.confirm").click(function(e) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to delete ?", function(confirmed) {
            if (confirmed) {
                $("form").submit();
            }
        });
    });
});
</script>
{% endblock foot_script %}
