{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Domains list{% endblock title %}

{% block headline %}Admin > Domains list{% endblock headline %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>{% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('adminDomain_add') }}"
                        class="btn">
                        <i class="icon-plus-sign"></i>
                    </a>
               {% endif %}
               &nbsp;&nbsp;Action
            </th>
            <th>#</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
{% for domain in domains %}
            <tr>
                <td width="150">
                    <a href="{{ path('adminDomain_view', {'id': domain.id}) }}"
                       class="btn">
                        <i class="icon-eye-open"></i>
                    </a>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <a href="{{ path('adminDomain_edit', {'id': domain.id}) }}"
                       class="btn">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('adminDomain_del', {'id': domain.id}) }}"
                       class="btn">
                        <i class="icon-trash"></i>
                    </a>
                    {% endif %}
                </td>
                <td>{{ domain.id }}</td>
                <td>{{ domain.name }}</td>
                <td>{{ domain.details }}</td>
            </tr>
{% else %}
        <li>No domain</li>
{% endfor %}
    </tbody>
</table>
{% endblock content %}