{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Resetting password - Step 1{% endblock title %}

{% block headline %}{{ parent() }} > Resetting password > Step 1{% endblock headline %}

{% block fos_user_content %}
{% trans_default_domain 'FOSUserBundle' %}

    {% if invalid_username is defined %}
        <div class="alert alert-error fade in  alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
        </div>
    {% endif %}

<div class="container">
<div class="row">
<div class="offset3 span6">

<form class="form-horizontal well" action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">

    <div class="control-group">
        <label  class="control-label" for="username">{{ 'resetting.request.username'|trans }}</label>
        <div class="controls">
            <input type="text" id="username" name="username" required="required" />
        </div>
    </div>

    <div class="center">
        <button type="submit" class="btn btn-small btn-info" title="Reset">
            <i class="icon-ok icon-white"></i>
            &nbsp;&nbsp;{{ 'resetting.request.submit'|trans }}&nbsp;&nbsp;
        </button>
    </div>
    <div class="center">
        <br />
        <a href="{{ path('fos_user_security_login') }}">Return to login</a>
    </div>
</form>
</div>
</div>
</div>
{% endblock fos_user_content %}
