{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Resource delete{% endblock title %}

{% block headline %}{{ domain.name }} > Resource delete{% endblock headline %}

{% block content %}
<div class="span8">
    <form id="formDel" class="form-horizontal well" method="post">
        <div class="control-group">
            <label class="control-label" for="inputResource">Resource</label>
            <div class="controls">
                <span  id="inputResource" class="input-xlarge uneditable-input">{{ userDmRole.user.nameFirstname }}</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="inputRole">Role</label>
            <div class="controls">
                <span  id="inputRole" class="input-xlarge uneditable-input">{{ userDmRole.role.label }}</span>
            </div>
        </div>
        <div class="center">
           <a href="#" class="confirm"><button class="btn btn-small btn-info"><i class="icon-remove icon-white"></i>&nbsp;&nbsp;Remove&nbsp;&nbsp;</button></a>
        </div>
    </form>
</div>
<div class="span8">
<a href="{{ path('dm-resource_index') }}" class="btn">
<i class="icon-chevron-left"></i>
Return to list
</a>
</div>
{% endblock content %}

{% block foot_script %}
{{ parent() }}
<script type="text/javascript">
$(function() {
    $("a.confirm").click(function(e) {
        e.preventDefault();
        bootbox.confirm("Are you sure you want to delete ?", function(confirmed) {
            if (confirmed) {
                $("form").submit();
            }
        });
    });
});
</script>
{% endblock foot_script %}
