{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Resource edit{% endblock title %}

{% block headline %}{{ domain.name }} > Resource edit{% endblock headline %}

{% block content %}
<div class="span8">
    <form class="form-horizontal well" method="post">
        <div class="control-group">
            <label class="control-label" for="inputResource">Resource</label>
            <div class="controls">
                <span  id="inputResource" class="input-xlarge uneditable-input">{{ userDmRole.user.nameFirstname }}</span>
            </div>
        </div>
        {{ form_widget(form) }}
        <div class="center">
            <button type="submit" class="btn btn-small btn-info"><i class="icon-ok icon-white"></i>&nbsp;&nbsp;Save&nbsp;&nbsp;</button>
        </div>
    </form>
</div>
<div class="span8">
    <a href="{{ path('dm-resource_index') }}" class="btn">
        <i class="icon-chevron-left"></i>
        Return to list
    </a>
</div>
{% endblock content %}