{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Resources list{% endblock title %}

{% block headline %}{{ domain.name }} > Resources list{% endblock headline %}

{% block content %}
<ul class="nav nav-tabs">
    <li><a id="a_main" href="{{ path('domain_view', {'id': domain.id}) }}">Main</a></li>
    <li><a id="a_projects" href="{{ path('dm-project_index') }}"><span id="badge_projects" class="badge badge-info">{{ child.projects }}</span>&nbsp;&nbsp;Projects</a></li>
    <li class="active"><a id="a_resources" href="#"><span id="badge_resources" class="badge badge-inverse">{{ child.resources }}</span>&nbsp;&nbsp;Resources</a></li>
</ul>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DM_MANAGER') %}
            <th>
                    <a href="{{ path('dm-resource_add') }}"
                        class="btn" title="Add">
                        <i class="icon-plus-sign"></i>
                    </a>

               &nbsp;&nbsp;Action
            </th>
            {% endif %}
            <th>Name</th>
            <th>Displayname</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
{% for resource in resources %}
            <tr>
                {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DM_MANAGER') %}
                <td width="150">
                    <a href="{{ path('dm-resource_edit', {'id': resource.id}) }}"
                       class="btn" title="Edit resource #{{ resource.id }}">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('dm-resource_del', {'id': resource.id}) }}"
                       class="btn" title="Delete resource #{{ resource.id }}">
                        <i class="icon-trash"></i>
                    </a>
                </td>
                {% endif %}
                <td>{{ resource.name }} {{ resource.firstname }}</td>
                <td>{{ resource.displayname }}</td>
                <td>{{ resource.label }}</td>
            </tr>
{% else %}
        {% if is_granted('ROLE_SUPER_ADMIN') or is_granted('ROLE_DM_MANAGER') %}
            <tr><td colspan="4">No resource</td></tr>
        {% else %}
            <tr><td colspan="3">No resource</td></tr>
        {% endif %}
{% endfor %}
    </tbody>
</table>
{% endblock content %}
