{% extends 'MapCoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Users list{% endblock title %}

{% block headline %}Admin > Users list{% endblock headline %}

{% block content %}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                <a href="{{ path('user_add') }}"
                   class="btn" title="Add">
                    <i class="icon-plus-sign"></i>
                </a>&nbsp;&nbsp;Action
            </th>
            <th>#</th>
            <th>Name</th>
            <th>Firstname</th>
            <th>Displayname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Super-admin</th>
            <th>Locked</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
{% for user in users %}
            <tr>
                <td width="150">
                    <a href="{{ path('user_view', {'id': user.id}) }}"
                       class="btn" title="View user #{{ user.id }}">
                        <i class="icon-eye-open"></i>
                    </a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"
                       class="btn" title="Edit user #{{ user.id }}">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="{{ path('user_del', {'id': user.id}) }}"
                       class="btn" title="Delete user #{{ user.id }}">
                        <i class="icon-trash"></i>
                    </a>
                </td>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.displayname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{% if user.isSuperAdmin() %}<i class="icon-ok"></i>{% else %}-{% endif %}</td>
                <td>{% if user.isLocked() %}<i class="icon-ban-circle"></i>{% else %}-{% endif %}</td>
                <td>{{ user.details }}</td>
            </tr>
{% else %}
        <li>No user</li>
{% endfor %}
    </tbody>
</table>
{% endblock content %}
